.access-slides{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 780px;
    background-color: #f1f1f1;
}
.block{
    width: 100%;
    display: block;
    height: 600px;
    background-image: url(./../Images/Private-Bank-Banner3-1.png);
}
.inside-writeup{
    width: 75%;
    padding: 50px;
    color: white;
    display: block;
    position: absolute;
    top: 150px;
    left: 100px;
}
.inside-writeup p{
    margin-bottom: 30px;
}
.slides-button{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 600px;
    left: 170px;
}
.digit{
    width: 30px;
    border: 2px solid white;
}
.access-works{
    display: flex;
    width: 1200px;
    height: 170px;
    background-color: #a4c519;
    clip-path: polygon(94% 100%, 0 100%, 0 0, 100% 0);
    position: absolute;
    overflow: hidden;
    top: 640px;
    right: 60px;
}
.access-fill{
    display: flex;
    width: 100%;
    gap: 1px;
    background-color: white;
    overflow: hidden;
}
.box-writes{
    height: 100%;
    background-color: #a4c519;
    padding: 20px;
    
}
.box-writes a{
    width: 180px;
    text-decoration: none;
    line-height: 1.5em;
}
.news-strips{
    width: 100%;
    height: 30px;
    background-color: #eb7824;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}
.late-news{
    background-color: #f1f1f1;
    clip-path: polygon(94% 100%, 0 100%, 0 0, 100% 0);
    height: 100%;
    width: 35%;
    font-size: 12px;
    line-height: 40px;
}
.late-news-strip{
    background-color: antiquewhite;
    clip-path: polygon(7% 0, 100% 0, 100% 100%, 5% 100%);
    height: 100%;
    display: flex;
    width: 100%;
}
.late-news-strips a{
    text-decoration: none;
    font-size: 12px;
    line-height: 40px;
}
.multi{
    width: 100%;
    height: 6px;
    background:linear-gradient(to right, #114c8d 35%, #d32e12 35%, #d32e12 65%, #9bc002 65%, #9bc002 85%, #eb7824 85%, #eb7824 95%, #057a82 95%, #057a82 100%);
}
.access-more{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 800px;
    background-color: #f1f1f1;
    clip-path: polygon(100% 80%, 0 100%, 0 0, 100% 0);
}
/* .case2{
    background-color: #f1f1f1;
    width: 100%;
    height: 800px;
    clip-path: polygon(100% 0%, 100% 73%, 0% 100%, 0% 0%);
}
.mix{
    width: 670px;
    text-align: center;
    margin-left: 360px;
    padding-top: 50px;
} */
