*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.frst{
    width: 100%;
    background-color: #f1f1f1;
    color: #555555;
    padding: 0.2em;
    font-size: 0.85em;
}
.close{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ab{
    display: flex;
    list-style: none;
}
.navb{
    position: relative;
    font-size: 100%;
    transition: color 0.3s;
    color: #555555;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.ab a:hover{
    transition: color 0.3s;
    border-top: 5px solid #ee7e01;
}
.sec{
    display: flex;
    height: 55px;
    font-size: 15px;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 1;
}
.center .ti{
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}
.yeild{
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    height: 100%;
    overflow-x: hidden;
}
.ref{
    display: block;
    padding: 1em;
    text-decoration: none;
}
.yeild a:hover{
    transition: all 0.2s;
    border-bottom: 5px solid #ee7e01;
}
.enf{
    flex: 1;
    display: flex;
    height: 100%;
}
.bar{
    background: #f1f1f1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 0.8em;
    outline: 0;
    flex: 1.5;
}
.side{
    background-color: #ee7e01 ;
    color: white;
    padding: 1em;
    flex: 1;
    cursor: pointer;
}
header{
    display: block;
    background-color: #EEEEEE;
    position: relative;
    height: 630px;
}
.thead{
    
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(https://www.accessbankplc.com/access/media/Access-Images-Library/corporatebanking.png?ext=.png);
}
.slide-con{
    position: absolute;
    top: 21%;
    left: 10%;
    width: 55%;
    height: 100%
}
.hd1{
    display: block;
    width: 75%;
    color: #f1f1f1;
}
.butn{
    height: 30px;
    width: 100px;
    background-color: transparent;
    margin-top: 20px;
}
#curs{
    height: 100%;
    width: 100%;
    color: #f1f1f1;
    display: inline-block;
    border:1px solid white;
    background-color: transparent;
}
#curs:hover{
    transition: 0.2s;
    background-color: #f1f1f1;
    color: #555555;
}
.slides{
    position: absolute;
    top: 90%;
    left: 10%;
    display: flex;
    gap: 20px;
}
.digit{
    width: 30px;
    border: 2px solid white;
}
.digit:hover{
    transition: all 0.2s;
    border: 2px solid #ee7e01;
}
